@font-face {
  font-family: "Robot" ;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
:root{  /*variable*/
  --lr-padding: 3%;
  --light-color: rgb(206, 206, 207);
}
* {
  margin: 0;
  padding: 0;

}

*::before, *::after {
  box-sizing: border-box;
}
body{
  font-family: "Robot";
  font-size:1rem;
}

.Clear-Div{
  pad: 2rem;
  color:white;
}

/*######################--topNav--################*/
.FlexBox-Topnav
{
  padding: 0 5%;
}


.FlexBox-Topnav {
  display: flex;
  justify-content: space-between;
 /* padding: 0 5%;*/
 background-color: var(--light-color);

}

 
/*top nav Link*/
.FlexBox-Topnav .Topnav-Link a ,.TopNav2-Links a{
  
  text-decoration: none;
  color: #6C757D !important;
 /* padding:0.2em;*/
  line-height: 2.5rem;
  margin: 5px;
}


.FlexBox-Topnav .Topnav-Link a:hover {
  text-decoration: underline;
  
}


/*top nav List*/
.Topnav-List{
  display: flex;
  gap:5px /*gap bain el elements */

}

/*law i dont want to use 
.Topnav-List{
  display: flex;
  gap:5px /*gap bain el elements 
} 
i can use this code by3mlo nafs el 7aga
.Topnav-DropDown-List {
position: relative;
display: inline;
} */

.Topnav-DropDown-List .DD-Title{
  font-size: 0.85 rem;
  color:#212529;
  background-color:white;
  border: none;
  padding: 5px;
}
.Topnav-DropDown-List .DD-Title:hover{
  
  background-color: #e6e6e6;
  border-color: #dfdfdf;
}
.Topnav-DropDown-List:hover  ul, .TopNav2 .TopNav2-Category:focus .Category ul{ /*keda 3mla hover 3la el list 7ata law bnzl t7t*/
  /*.Topnav-DropDown-List .DD-Title:hover + ul*/
  display: block; /*ي عشان يخلي الكلام الي جواه تختفي وبعد كده لما يعمل hover تبقا display block عشان تظهر بس لما الموس يجي عليه*/
}
.Topnav-DropDown-List ul{
  display: none;
  position: absolute;  /*3shan my5odshi mas7a min el div*/
  min-width: 5rem;
  padding: 0.25rem 1.5rem;
  margin: 00.125rem 0 0;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(0,0,0,15);
  color:#6C757D;
text-align: left;
list-style: none;
background-clip: padding-box;  
}
 .TopNav2 .TopNav2-Category .Category ul  {
  display: none;
  position: absolute;  /*3shan my5odshi mas7a min el div*/
  list-style: none;
 }

.Topnav-DropDown-List ul li{
  list-style-type: none;
  padding: 0.25rem 1.5rem;
  font-weight: 400;
  color:#212529;
  background-color: transparent;
  cursor: pointer;/*3hsan yt3ml ka button*/
 
 
}

.Topnav-DropDown-List ul li:hover{
  background-color: var(--light-color);
  min-width: 5rem;

}





/*#############################################################################--coloum2--############### */

.flex-container {
  display: flex;
  justify-content: space-between;
  /*background: #6C757D;*/
 
 /* padding-right:  20rem !important; */
}

/* .flex-container>div {

  
  text-align: center;
  
  font-size: 30px;
} */
/********************TEXT SEARCH*/
/*another way for search button and search input*/
.search{
  margin-right: 10rem !important;
  
}
.search .searchTerm,.search .searchButton{
  padding: 0.4rem;
  border: 1px var(--light-color) solid;
  margin-left: -0.25rem !important;
  position: relative;
  top:0.5rem ;
}

 .search .searchTerm{
  
 min-width: 190%;
 display: block;
 /*position: relative;
 top:0.5rem ;*/
  right: 10.2rem; /*dah eli 7rak el search botton 3shan tlz2 fil search input*/
  
 width: 100%;
 height: calc(1.5em  + 2px);
 padding: 0.375rem 0.75rem;
 font-size: 1rem;
 font-weight: 400;
 line-height: 1.5;
 color: #495057;
 background-color: #fff;
 background-clip: padding-box;
 border: 1px solid #ced4da;
 border-radius: 0;
 transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.search .searchButton{
/* position: relative; */
right:10rem;

background-color: transparent;




}

.search i{
 color:#FFD333;
 width: 20px;
}


 .search .searchTerm:active,.search .searchTerm:focus{
 outline: none;
  border: 1px #FFD333 solid;
}



 .search form {
  display: flex;
  padding: -10px;
  

}





/********************LOGO*/
.Logo-Container{
  display: flex;
  padding: 0 5.1%;
 
}

.Logo-Container .logo-Text{
  font-weight: 700 !important;
  text-align: left;
  font-size: 20px;
  text-transform: uppercase !important;
  padding: 0.4rem;
  font-weight:bold;
  height: min-content; 
  font-size: calc(0.5rem + 1.5vw);
  
  
}

.Logo-Container .logo-Text:first-child {
  
  background-color:#3D464D;
  color:#FFD333;
  
  display: inline-block;
  margin: 0;
 
  /*line-height: 1em;*/

  
  /* background: linear-gradient(to right, #ffbd09 50%, #454545 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  /*font-size: 5.5vw; 
  linear-gradient(to right, #454545 60%, #ffbd09 40%);
  */
}

.Logo-Container .logo-Text:last-child {
  background-color:#FFD333 !important;
  color:#3D464D;
}


/*contact INfo 2nd column*/
.flex-container .Normal-Text{
  margin: 0 !important;
  display: inline;
  
}
.Normal-Text{
  
padding-right: 4.6rem;

}

.Normal-Text p{
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
  /*margin-block-start: 1em;*/
 /* margin-block-end: 1em;*/
 
  margin: 0 !important;
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  
}

.Normal-Text h5{
  font-weight: 500 ;
  margin-bottom: 0.1rem;
  line-height: 1.2;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #3D464D;
  font-weight:bold;
 
}


/*#################################################################--Top-nav-2--########################333333*/

*{
  margin: 0;
  padding: 0;
}

.categories-Background-color{

width: 100%;
}
.Categories-Row{
/*background-color:red;*/
}


.Categories {
/* position: absolute; */
  max-width: 300px;   
/*  min-width: 300px; */
 position: relative;
/*   display: inline-block;*/
  flex:1;
 
  

}

/*.categories-Background-color{
  background-color: aqua;
}*/

.categories-select {
  display: flex;
  justify-content: space-between;
  background-color: #FFD333;
  padding: 20px 10px;
  /*vertical horizontal*/
  /*  height: 4rem;*/
  font-size: 1rem;
  font-weight: 500;

  

}

.categories-Background-color{

  background-color: aquamarine !important;
}
.categories-select:hover{
  background-color:#ffc800 ;    
}


.menu-list  {
  background-color: white;
  border: 1px rgb(214, 214, 214) solid;
  list-style: none;
  padding: 0 5px; /*lil text eli gowa el container*/ 
  
 display: none;



 /*height: 0;
 overflow: hidden;
 transition:0.5s; */

}

.categories-Background-color{

} 


.Categories:hover .menu-list{ /*.categories-selector didnt work*/

  display: block;
 /*height: initial;*/

}


.menu-list ul {
  position: absolute;
  width: 100%;
 
  }

.categories:hover .menu-list{
  height: initial;
}


.menu-list  li {
  border-bottom: 1px  #F5F5F5 solid;
  /*border-style: 1px ;
  border-width:1px ;*/

  padding: 5px 14px;
  color: rgba(0, 0, 0, 0.5);
}
.menu-list  li:hover {
color: rgba(0, 0, 0, 0.7);
}

.Categories .menu-list li:first-child:hover~.menu-list-dresses{
 /* background-color: red !important; */
  display: block;
 }

.menu-list-dresses {
 display: none;
}


.menu-list-dresses ul{
  /*background-color: rgb(242, 127, 150);*/
  width: 150px;;
  float: right;
  left: 370px;
  top:60px;
  list-style: none;
}


TopNav2-Links{
  flex:1;
}

/*top nav Link*/
.TopNav2-Links a{  
  text-decoration: none;
  color: #ffffff !important;
 /* padding:0.2em;*/
  line-height: 2.5rem;
  margin: 5px;
}


.TopNav2-Links a:hover,.TopNav2-Links a:first-child {
  color: #FFD333 !important;
 
}


.Categories-Row{
  display: flex;
  /*align-content:space-between;*/
  justify-content: space-between;
/*   background-color:   #3D464D; */

padding-left: 5rem;
padding-right: 2rem;
 
}

.Icon-Container{

position:relative;
top:12px;
 /*   align-items: center;
  
  vertical-align: middle;*/
/*  flex:none;*/
}

.Cart-Icons{
  display:flex;  
  gap:10px;
/*  align-items: center; */
  
}


.Icons-increment{
display: flex; 
gap:2px;
}






.Cart-Icons i{
  color: #FFD333;

}
.Cart-Icons p{
  color: white;
  text-align: center;
 line-height: 20px;
  background: transparent;
  /*width: 12px;*/
/*height: 20px;*/
 /*border: 1px white solid;
  width: 50px;*/

  /*padding: 5px;*/
  border: 1px solid rgb(255, 255, 255);
  /*top: 9rem;
  left: 50%;*/

 font-weight: 900;
  width: 20px;
  height: 20px;
  border-radius: 50% !important;
 /* display: flex;*/
 /* align-items: center;
 text-align: center; */
}
