@font-face {
  font-family: "Robot" ;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
:root{  /*variable*/
  --lr-padding: 3%;
  --light-color: rgb(206, 206, 207);
}
* {
  margin: 0;
  padding: 0;
}
body{
  font-family: "Robot";
  font-size:1rem;
}

/*######################--topNav--################*/
.FlexBox-Topnav
{
  padding: 0 5%;
}

.FlexBox-Topnav {
  display: flex;
  justify-content: space-between;
 /* padding: 0 5%;*/
 background-color: var(--light-color);

}

 
/*top nav Link*/
.FlexBox-Topnav .Topnav-Link a {
  
  text-decoration: none;
  color: #6C757D !important;
 /* padding:0.2em;*/
  line-height: 2.5rem;
  margin: 5px;
}

.FlexBox-Topnav .Topnav-Link a:hover {
  text-decoration: underline;
  
}


/*top nav List*/
.Topnav-List{
  display: flex;
  gap:5px /*gap bain el elements */

}

/*law i dont want to use 
.Topnav-List{
  display: flex;
  gap:5px /*gap bain el elements 
} 
i can use this code by3mlo nafs el 7aga
.Topnav-DropDown-List {
position: relative;
display: inline;
} */

.Topnav-DropDown-List .DD-Title{
  font-size: 0.85 rem;
  color:#212529;
  background-color:white;
  border: none;
  padding: 5px;
}
.Topnav-DropDown-List .DD-Title:hover{
  
  background-color: #e6e6e6;
  border-color: #dfdfdf;
}
.Topnav-DropDown-List:hover  ul{ /*keda 3mla hover 3la el list 7ata law bnzl t7t*/
  /*.Topnav-DropDown-List .DD-Title:hover + ul*/
  display: block; /*ي عشان يخلي الكلام الي جواه تختفي وبعد كده لما يعمل hover تبقا display block عشان تظهر بس لما الموس يجي عليه*/
}
.Topnav-DropDown-List ul{
  display: none;
  position: absolute;  /*3shan my5odshi mas7a min el div*/
  min-width: 5rem;
  padding: 0.25rem 1.5rem;
  margin: 00.125rem 0 0;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(0,0,0,15);
  color:#6C757D;
text-align: left;
list-style: none;
background-clip: padding-box;
    
}
.Topnav-DropDown-List ul li{
  list-style-type: none;
  padding: 0.25rem 1.5rem;
  font-weight: 400;
  color:#212529;
  background-color: transparent;
  cursor: pointer;/*3hsan yt3ml ka button*/
 
 
}

.Topnav-DropDown-List ul li:hover{
  background-color: var(--light-color);
  min-width: 5rem;

}





/*#################--coloum2--############### */

.flex-container {
  display: flex;
  justify-content: space-between;
  /*background: #6C757D;*/
 padding:  1rem !important;
}

/* .flex-container>div {

  
  text-align: center;
  
  font-size: 30px;
} */

.flex-search .search .searchTerm,.searchButton{
  padding: 0.4rem;
  border: 1px var(--light-color) solid;
  margin-left: -0.25rem !important;
}

.flex-search .search .searchTerm{
  
 min-width: 190%;
}

.flex-search .search i{
 color:#FFD333;
}
.flex-search .search .searchTerm:hover{
 
  border: 1px #FFD333 solid;
}
.flex-search .search .searchTerm:active{
 
  border: 1px #FFD333 solid;
}


.flex-search .search form {
  display: flex;
  padding: -10px;
  

}

.Logo-Container{
  display: flex;
 
}

.Logo-Container .logo-Text{
  font-weight: 700 !important;
  text-align: left;
  font-size: 20px;
  text-transform: uppercase !important;
  padding: 0.4rem;
  font-weight:bold;
  height: min-content; 
  
}

.Logo-Container .logo-Text:first-child {
  
  background-color:#3D464D;
  color:#FFD333;
  
  display: inline-block;
  margin: 0;
 
  /*line-height: 1em;*/

  
  /* background: linear-gradient(to right, #ffbd09 50%, #454545 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  /*font-size: 5.5vw; 
  linear-gradient(to right, #454545 60%, #ffbd09 40%);
  */
}

.Logo-Container .logo-Text:last-child {
  background-color:#FFD333 !important;
  color:#3D464D;
}

/* .container {
  background: linear-gradient(to right, #454545 60%, #ffbd09 40%);
  
} */
.flex-container .Normal-Text{
  margin: 0 !important;
  display: inline;
}
.Normal-Text p{
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
  /*margin-block-start: 1em;*/
 /* margin-block-end: 1em;*/
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.Normal-Text h5{
  font-weight: 700 !important;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  /*line-height: 1.2;*/
  color: #3D464D;
  margin-top: -0.7rem !important;
}